.footer-logo {
    margin-bottom: 24px;
}

.footer-links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.footer-link {
    cursor: pointer;
}

.footer-address-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}